<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>{{ page.title }} - Jaat'sDway Sports</title>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/assets/style.css" />
</head>
<body>
  <header>
    <div class="navbar container">
      <img src="/assets/images/logo.png" class="logo" alt="Logo">
      <nav>
        <a href="/">Home</a>
        <a href="/scores.html">Live Scores</a>
        <a href="/fixtures.html">Fixtures</a>
        <a href="/news/">News</a>
        <a href="/gallery.html">Gallery</a>
      </nav>
    </div>
  </header>
  <main class="container">
    {{ content }}
  </main>
  <footer>
    <p>&copy; 2025 Jaat'sDway Sports. All rights reserved.</p>
  </footer>
</body>
</html>
